<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://kit.fontawesome.com/6b1a97de64.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Todo App</h1>
    <h3>Add todo:</h3>
    <ul>
      <% for(var i = 0; i < todoItems.length; i++) {%>
      <li class="todo-item">
        <% if (todoItems[i].completed) { %>
        <span class="completed"><%= todoItems[i].todoItem %></span>
        <% } else { %>
        <span><%= todoItems[i].todoItem %></span>
        <% } %>
        <i id="delete-todo" class="fa-solid fa-trash-can"></i>
      </li>
      <% } %>
    </ul>
    <form action="/addItem" method="post">
      <input type="text" name="addTodoInput" />
      <button type="submit">Submit</button>
    </form>
    <script src="/client.js"></script>
  </body>
</html>
